.hidden {
  visibility: hidden;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
  color: rgba(81, 25, 0, 1);
}


h1 {
  font-family: 'Berkshire Swash', cursive;
}

h2 {
  font-family: 'Kaushan Script', cursive;

}

nav {
  position: fixed;
  top: 7%;
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
}

nav li {
  list-style: none;
  font-size: 3em;
  display: inline;
  margin-left: 35px;
  margin-right: 35px;
}

nav a {
  display: inline-block;
  padding: 10px;
}

#landing {
  height: 1000px;
  background-color: rgba(239, 207, 182, 1);
  background-image: url(../images/backdrops/mariano-rossi-330641-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 20px solid rgba(81, 25, 0, 1);
}

#logo {
  width: 56%;
  /* margin: 0 auto; */
  padding: 15px;
  padding-bottom: 0;
  background-color: rgba(239, 207, 182, 0.75);
}

#logo h1 {
  margin-top: 0;
  font-size: 4em;
  text-align: center;
  padding-bottom: 15px;
}

.menu-icon {
  color: rgba(239, 207, 182, 1);
  filter: drop-shadow(1px 2px 1px rgba(81, 25, 0, 1));
  font-size: 4em;
  font-weight: 500;
  transform: scale(1.7, 1.2);
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 40px;
}

#tagline h1 {
  padding-top: 100px;
  color: rgba(239, 207, 182, 1);
  font-family: 'Kaushan Script', cursive;
  font-size: 8em;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(2px 2px 3px rgba(175, 39, 36, 1));
  filter: drop-shadow(5px 5px 10px rgba(81, 25, 0, 1));
}

/* BELOW THE FOLD */

#splash {
  /* background-color: rgba(239, 207, 182, 1); */
  background-image: url(../images/backdrops/old_map_original.png);
  background-repeat: repeat;
  border-bottom: 20px solid rgba(81, 25, 0, 1);
  padding-bottom: 100px;
}

#splash>div {
  padding-top: 150px;
  width: 70%;
  margin: 0 auto;
}

#splash img {
  max-width: 100%;
  max-height: 100%;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}

#splash .info {
  margin: 0 auto;
  text-align: justify;
  width: 100%;
}

#splash p {
  font-size: 2.5em;
  width: 78%;
  text-align: justify;
  margin: 0 auto;
}

h2 {
  font-size: 3.5em;
  text-align: center;
}
