/* Coolors Exported Palette - coolors.co/191716-511900-efbf73-af2724-efcfb6 */

/* HSL */
$color1: hsla(20%, 6%, 9%, 1);
$color2: hsla(19%, 100%, 16%, 1);
$color3: hsla(37%, 79%, 69%, 1);
$color4: hsla(1%, 66%, 41%, 1);
$color5: hsla(26%, 64%, 83%, 1);

/* RGB */
$color5: rgba(239, 207, 182, 1);
$color3: rgba(239, 191, 115, 1);
$color4: rgba(175, 39, 36, 1);
$color2: rgba(81, 25, 0, 1);
$color1: rgba(25, 23, 22, 1);
